<!Doctype html>
{% extends 'navbar_unauthenticated.html' %}

{% block title %} About Complaint System {% endblock %}

{% block css %}
<style>
    body {
        font-family: Arial, sans-serif;
    }

    h1,
    h2 {
        color: #555;
        text-align: center;
    }

    p {
        line-height: 1.5;
        text-align: center;
        margin: 20px;
    }

    ul {
        padding-left: 20px;
        text-align: center;
        margin: 20px;
    }
</style>
{% endblock %}

{% block body %}

<h1>About Our Complaint System</h1>

<h2>Overview</h2>
<p>
    Our website is designed to facilitate the submission of complaints regarding university-related issues by both
    students and teachers. The system includes a handler and an admin panel to manage the backend operations. The
    proctorial board is responsible for reviewing the complaints, providing solutions, and imposing appropriate
    actions for any offensive behavior by students or faculty members.
</p>

<h2>Features</h2>
<ul>
    <li>Complaint Submission: Students and teachers can easily submit complaints through our user-friendly
        interface.</li>
    <li>Handler and Admin Panel: The handler and admin panel enable efficient management of the system's backend
        processes.</li>
    <li>Proctorial Board Review: The proctorial board carefully evaluates each complaint, aiming to resolve issues
        and take disciplinary action when necessary.</li>
</ul>

<h2>Benefits</h2>
<ul>
    <li>Enhanced Communication: Students and teachers can effectively communicate their concerns to the university
        administration.</li>
    <li>Prompt Resolutions: The system promotes timely resolutions of issues, ensuring a conducive learning and
        working environment.</li>
    <li>Accountability: Offensive behavior is addressed and appropriate actions are taken to maintain discipline
        within the university community.</li>
</ul>

<h2>Contact Information</h2>
<p>
    If you have any questions or require further assistance, please feel free to contact our support team at
    support@yourwebsite.com.
</p>
{% endblock %}

{% block js %}
{% endblock %}