<!DOCTYPE html>
<html>
  <head>
    <title>Complaint Form</title>
	<link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <header>
      
    </header>

    <main>
      <div class="container">
        <form>
          <label for="subject">Subject:</label>
          <input type="text" id="subject" name="subject">
          
          <label for="complaint">Complaint:</label>
          <textarea id="complaint" name="complaint" rows="5" cols="30"></textarea>
          
          <button type="submit">Send</button>
        </form>
      </div>
    </main>
  </body>
</html>
