<!Doctype html>
{% extends 'navbar_faculty.html' %}
{% block title %} Update Profile {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<div class="container">
    <h1 class="text-center">Update Profile</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="img-thumbnail"
                        width="70%" src="{{user.faculty.image.url}}">
                </div>
            </div>
            <div class="col-md-8 border-right">
                <div class="row mt-4">
                    <div class="form-group col-md-12">
                        <label><i style="font-weight: bold;">Name</i></label>
                        <input type="text" class="form-control mt-2" name="username" value="{{user}}" required>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="form-group col-md-6">
                        <label><i style="font-weight: bold;">Email</i></label>
                        <input type="email" class="form-control mt-2" name="email" value="{{user.email}}" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label><i style="font-weight: bold;">Contact</i></label>
                        <input type="text" class="form-control mt-2" name="phone" value="{{user.faculty.phone}}"
                            required>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="form-group col-md-6">
                        <label><i style="font-weight: bold;">Designation</i></label>
                        <input type="text" class="form-control mt-2" name="faculty_id"
                            value="{{user.faculty.faculty_id}}" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label><i style="font-weight: bold;">Department</i></label>
                        <input type="text" class="form-control mt-2" name="semester" value="{{user.faculty.semester}}"
                            required>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="form-group col-md-12">
                        <label><i style="font-weight: bold;">Address</i></label>
                        <input type="text" class="form-control mt-2" name="address" value="{{user.faculty.address}}"
                            required>
                    </div>
                </div>

                <button type="submit" class="btn btn-outline-primary mt-5">Update Profile</button>
                <div class="row pt-5">
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block js %}

{% endblock %}